* {
	border-width: 0;
}

html, body {
	overflow: hidden;
	user-select: none;
}

html, body, canvas#canvas {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	min-width: 100vw;
	min-height: 100vh;
}

div#loading {
	margin: 10vh auto;
	font-size: 3vh;
	padding-left: 10vh;
	font-family: monospace;
	color: #000;
	text-align: left;
}

canvas#canvas {
	display: none;
}
