* {
	border-width: 0;
}

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	user-select: none;
}

div.loading {
	margin: 10vh auto;
	font-size: 16px;
	color: #333;
	max-width: 240px;
	text-align: center;
}

canvas#pong {
	display: none;
	width: 100vw;
	heigh: 100vh;
}
